<!DOCTYPE html>

{% extends 'store/main.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    {% block content %}
       <div class="row">
           <div class="col-lg-12">
               <div class="box-element">
                   <a href=""
               </div>
               <br>
               <div class="box-element">
                   <a href=""
               </div>
           </div>
       </div>
    {% endblock content %}
</body>
</html>
